
                
                <div class="col-md-10">
                <form [formGroup]="formProperty">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Property type</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Enter property type" formControlName="property_type">
                            <div class="help-block">
                                <small class="text-danger"
                                *ngIf="getControl.property_type.errors?.minlength && getControl.property_type.touched">
                                Type must be at least 4 characters long.
                                </small>
                            </div>
                        
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Description</label>
                        <div class="col-md-6">
                            <textarea name="text" class="form-control" cols="40" rows="5" formControlName="description"
                                placeholder="Enter description"> </textarea>
                            <div class="help-block">
                                <small class="text-danger"
                                    *ngIf="getControl.description.errors?.minlength && getControl.description.touched">
                                    Description must be at least 10 characters long.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">City</label>
                        <div class="col-md-6">
                            <select class="form-control" formControlName="city">
                                <option selected>Canelones </option>
                                <option>Colonia del Sacramento</option>
                                <option>Maldonado</option>
                                <option>Montevideo</option>
                            </select>
                            <div class="help-block">
                                <small class="text-danger"
                                *ngIf="getControl.city.errors?.minlength && getControl.city.touched">
                                City not selected.
                                </small>
                            </div>
                        </div>
                    </div>
                        
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Address</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="address" placeholder="Enter address" formControlName="address">
                            <div class="help-block">
                                <small class="text-danger"
                                *ngIf="getControl.address.errors?.minlength && getControl.address.touched">
                                Address must be at least 4 characters long.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Total bedrooms</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Enter total bedrooms" formControlName="total_bedrooms">
                             <div class="help-block">
                                <small class="text-danger"
                                *ngIf="getControl.total_bedrooms.errors?.minlength && getControl.total_bedrooms.touched">
                                Total bedrooms invalid.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Total area m2</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Enter total area m2" formControlName="total_area_m2">
                            <div class="help-block">
                                <small class="text-danger"
                                *ngIf="getControl.total_area_m2.errors?.minlength && getControl.total_area_m2.touched">
                                Area invalid.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Price</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Enter price" formControlName="price">
                            <div class="help-block">
                                <small class="text-danger"
                                *ngIf="getControl.price.errors?.minlength && getControl.price.touched">
                                Price invalid.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="phone_number" class="col-md-4 col-form-label text-md-right">Select Image</label>
                        <div class="col-md-6">
                            <img [src]=photo_file_path height="250px;" width="200px;">
                            <input type="File" (change)="uploadImage($event)" class="mt-2" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 float-right">
                            <div class="col-md-2 float-right">

                                <button type="submit" (click)="addProperty()" *ngIf="property.property_id==0" class="btn btn-primary" [disabled]="formProperty.invalid">
                                    Add
                                </button>

                                <button (click)="updateProperty()" *ngIf="property.property_id!=0"
                                    class="btn btn-primary" [disabled]="formProperty.invalid">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        {{ErrorMessage}}
                      </div>
                </div>
            </form>


        </div>