<div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div>
                    <h1 class="text-uppercase font-weight-bold mt-4">About Real Estate</h1>
                    <hr class="divider2 my-3">
                    <h3>who are we? </h3>
                    <p>We are a real estate agency based in Uruguay, with a large and high quality real estate offer in
                        Uruguay and it's surroundings. </p>
                    <p>Our company was founded in 2012 and has been operating successfully ever since. For the activity
                        of real estate agency, we have a permission of the Ministry of Economy and are registered in the
                        register of intermediaries at the Uruguay Chamber of Commerce and Services.
                    </p>
                </div>
                <div class="text-center">
                    <h3 class="text-uppercase font-weight-bold">Our offices:</h3>
                    <hr class="divider my-3">
                    <p>
                        We are located at Bulevar General Artigas 1504 Montevideo, Uruguay.
                    </p>
                    <div>
                        <img class="img-fluid imgh rounded m-2 mb-4" src="https://images.unsplash.com/photo-1523333756020-a34f70e142be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80" alt="Photo">
                    </div>
        </div>
    </div>
</div>