<div class="container px-4 px-lg-5 my-5">
    <h3 class="mb-5">Account details:</h3>
    <div class="row gx-4 gx-lg-5 align-items-center">

        <div class="col-sm-6">

            <strong class="pl-0 w-25">Name:</strong>
            <p class="lead"> {{ user[0].name }}</p>
            <strong class="pl-0 w-25">Last name:</strong>
            <p class="lead">{{ user[0].last_name }}</p>
        </div>
        <div class="col-sm-6">
            <strong class="pl-0 w-25">Username:</strong>
            <p class="lead"> {{ user[0].username }}</p>
            <strong class="pl-0 w-25">Joined:</strong>
            <p class="lead">{{ user[0].date_of_joining }}</p>
        </div>

    </div>