<button type="button" class="btn btn-primary float-right m-2" (click)="addClick()">
    Add Employee
</button>

<button type="button" class="btn btn-primary float-right m-2" (click)="closeClick()">Close</button>

<h5 class="modal-title">{{ModalTitle}}</h5>



<app-add-edit-employee [employee]="employee" *ngIf="ActiveAddEditEmployeeComp"></app-add-edit-employee>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            
            <table class="table table-striped" *ngIf="!ActiveAddEditEmployeeComp">
                <thead>
                    <tr>
                        <th>EmployeeId</th>
                        <th>EmployeeName</th>
                        <th>Department</th>
                        <th>DateOfJoining</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataItem of EmployeeList">
                        <td>{{dataItem.EmployeeId}}</td>
                        <td>{{dataItem.EmployeeName}}</td>
                        <td>{{dataItem.Department}}</td>
                        <td>{{dataItem.DateOfJoining}}</td>
                        <td>
                            <button type="button" class="btn btn-light mr-1" (click)="editClick(dataItem)">Edit</button>
                            <button type="button" class="btn btn-light mr-1"
                                (click)="deleteClick(dataItem)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


