
<ul class="navbar-nav ml-auto">
<li class="nav-item">
    <a class="nav-link" href="#" routerLink="login" *ngIf="!islogged" [routerLinkActive]="['active']" >Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="register" *ngIf="!islogged" [routerLinkActive]="['active']">Register</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="#" *ngIf="islogged">Logged {{id}}</a>
</li>
  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="islogged" (click)="logOut()">Log out</a>
  </li>
</ul>